In [10]:
import pandas as pd
data = pd.read_csv("Survey.csv")
print(data)

       年級 性別 平常的運動
0      大一  女    排球
1      大一  女    籃球
2      大一  女    桌球
3      大一  女    跑步
4      大二  女    羽球
..    ... ..   ...
113    大一  男    排球
114    大一  男    籃球
115    大二  男    桌球
116  大五以上  男    跑步
117    大一  男    羽球

[118 rows x 3 columns]

In [11]:
gennder = list(data["性別"])
print("總共人數", len(data))

總共人數 118

In [12]:
girls = data[data['性別'].str.contains("女")]
girls.tail(4)

    年級 性別 平常的運動
61  大一  女    羽球
62  大一  女    跑步
63  大一  女    排球
64  大三  女    排球

In [13]:
tea = data[data['平常的運動'].str.contains("排球")]
tea.tail(4)

     年級 性別 平常的運動
105  大一  男    排球
111  大一  男    排球
112  大一  男    排球
113  大一  男    排球

In [14]:
intersection = data[(data["性別"]=="女") & (data["平常的運動"] == "排球")]

intersection.head(5)

    年級 性別 平常的運動
0   大一  女    排球
6   大一  女    排球
7   大一  女    排球
9   大一  女    排球
15  大一  女    排球

In [15]:
union = data[(data["性別"]=="女") | (data["平常的運動"] == "排球")]
union.tail(5)

     年級 性別 平常的運動
104  大一  男    排球
105  大一  男    排球
111  大一  男    排球
112  大一  男    排球
113  大一  男    排球

In [16]:
difference = data[(data["性別"]=="女") & (data["平常的運動"] != "排球") ]
difference.head(5)

   年級 性別 平常的運動
1  大一  女    籃球
2  大一  女    桌球
3  大一  女    跑步
4  大二  女    羽球
5  大一  女    跑步

In [17]:
symmetric_difference = data[(data["性別"]=="女") ^ (data["平常的運動"] == "排球")]
symmetric_difference.tail(5)

     年級 性別 平常的運動
104  大一  男    排球
105  大一  男    排球
111  大一  男    排球
112  大一  男    排球
113  大一  男    排球